// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";


a{
    color: black;
    text-decoration:none;
}
.container{
    width: 960px;
    margin: 0 auto;
}
.span-1{
    color: red;
}
.span-2{
    color: blue;
}
.site-branding{
    width: 960px;
    margin: 0 auto;
}
.site-description{
    display: none;
}
.menu-menugeneral-container{
    width: 960px;
    margin: 0 auto;
}
li{
    margin-right: 20px;
    color: #000!important;
    font-size: 1.5em;
}
a:visited{
    color: green;
}
a:hover{
    color: blue;
}
.tittle-des{
    font-size: 1.5em;
}
a{
    font-weight: bold;
}
.section-nouvelle{
    display: grid;
    grid-template-columns: repeat(4, 25% [col-start]);
    grid-template-rows: repeat(10, 25% [col-start]);
}