// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";


a{
    color: black;
    text-decoration:none;
}
.container{
    width: 960px;
    margin: 0 auto;
}
.span-1{
    color: red;
}
.span-2{
    color: blue;
}
.site-branding{
    width: 960px;
    margin: 0 auto;
}
.site-description{
    display: none;
}